@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
    width: 100%;
    height: 100%;

}

body {
    font-family: Merriweather;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.3rem;
}

.root {
    margin: auto;
    width: 33em;
    font-weight: 300;
    padding: 4em 0;
}

.home-logo {
    width: 30em;
    margin: auto;
}

.work-logo {
    width: 25em;
    margin: auto;
    display: block;
    margin-bottom: 4em;
}

@media only screen and (max-width: 800px) {
    .root {
        width: 80vw;
        font-size: 0.8em;
        padding: 1em 0;
    }
    .work-logo {
        width: 60vw;
    }
}


@media only screen and (max-width: 550px) {
    .root {
        font-size: 0.6em;
    }
}


header {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

ul {
    font-weight: 400;
    margin: 2em 0 3em 0;
}

ul.features {
    margin-left: 1.5em;
    display: grid;
    gap: 2.5em;
    grid-template-columns: 1fr;
}

ul.skills {
    margin-left: 1.5em;
    display: grid;
    gap: 2.5em;
    grid-template-columns: 1fr 1fr;
}

li::marker {
    color: #dddddd;
    font-weight: bold;
    content: attr(data-icon) '   ';
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.8em;
    align-items: center;
}

input[type=email], textarea {
    outline: none;
    border: none;
    font: inherit;
    padding: 0.5em;
    border-bottom: 2px solid lightgrey;
}

button {
    cursor: pointer;
    border: 2px solid #21a35b;
    color: #21a35b;
    background-color: white;
    outline: none;
    padding: 0.6em;
    font-family: Roboto;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .1em;
    border-radius: 4px;
    transition: transform 1s ease-in;
}

button:hover {
    border: 2px solid #27d173;
    color: #27d173;
}

@media only screen and (min-width: 800px) {
    button:hover {
        transform: scale(300%);
    }
}